:root {
    --azul-back-escuro: #1A1D29;
    --cinza-back-azulado: #2A2D3A;
    --cinza-claro: #99A1AF;
    --verde-claro: #10B981;
    --vermelho: #b91310;
}

.modal-criar-editar .painel {
    background-color: var(--cinza-back-azulado);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    gap: 24px;
    padding: 17px;
    min-width: 33%;
    display: none;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.modal-criar-editar h1 {
    font-size: 20px;
    font-weight: bold;
}

.modal-criar-editar form {
    width: 100%;
}

.modal-criar-editar .formcampos {
    display: flex;
    flex-direction: column;

    gap: 20px;
    width: 100%;

    color: var(--cinza-claro);
    font-size: 14px;
}

.modal-criar-editar .formcampos input {
    background-color: var(--azul-back-escuro);
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 10px 12px 10px 12px;
    height: 40px;
    gap: 10px;
}

.modal-criar-editar .formbotoes {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 24px 24px 0px 24px;
}

.modal-criar-editar .formbotoes input,
.modal-criar-editar .formbotoes button {
    border-style: solid;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    min-width: 20%;
    cursor: pointer;
}

.modal-criar-editar .formbotoes input {
    background-color: var(--cinza-back-azulado);
    border-color: var(--verde-claro);
    color: var(--verde-claro) ;
}

.modal-criar-editar .formbotoes input:hover{
    background-color: var(--verde-claro);
    color: white;
}

.modal-criar-editar .formbotoes button {
    background-color: var(--cinza-back-azulado);
    border-color: var(--verde-claro);
    color: var(--verde-claro);
}

.modal-criar-editar .formbotoes button:hover{
    background-color: var(--vermelho);
    border-color: var(--vermelho);
    color: white;
}

.container-foto-upload {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-foto-oculto {
    display: none;
}

.label-foto {
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; 
    border: 3px solid #16c09b; 
}

.icone-editar-foto {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: #16c09b;
    color: white;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-foto:hover{
    opacity: 0.7;
}
