<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://googleapis.com" rel="stylesheet">
</head>
<body>
    <section>
        <h1>Lista de Posts</h1>
    </section>
    <section>
        <h1>**NAVBAR**</h1>
    </section>
    <div class="tabelaposts">
    <table>
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Data</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Interações</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tabelapostsbody">
        </tbody>
    </table>
    </div>
    
    <footer>
        <button>Anterior</button>
        <button>1</button>
        <button>2</button>
        <button>Próximo</button>
    </footer>
    <script src="/public/js/index.js"></script>
</body>
</html>