<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="textomain-dashboard">
        <h1 id="title-dashboard">Dashboard</h1>
    </div>
    <div class="conteudo-dashboard">
        <div class="espaço-sidebar"></div>
        <div class="espaço-graficos">
            <div class="espaco-graf-usuarios">  
                <i class="fa-sharp fa-solid fa-chart-fft icone-graf" style="color: #05AC4B;"></i>
                <span class="item-description">iconGraficos</span>
            </div>
        </div>
        <div class="espaço-analise">

        </div>
    </div>
    
</body>
    <script src="/public/js/index.js"></script>
</html>