<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="/public/css/lista-posts.css">
    <link rel="stylesheet" href="/public/css/modal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://googleapis.com" rel="stylesheet">
</head>

<body>
    <div class="filtro" id="filtro"></div>
    <div class="lista-posts-base">
        <div>
            <h1>Lista de Posts</h1>
        </div>
        <div class="navbar">
            <div class="searchbar">
                <img src="/public/assets/lupa.svg" alt="lupa de pesquisa">
                <input type="text" placeholder="Pesquisar...">
            </div>
            <button class="botao-atual" onclick="abrirModal('modalCriar')">Criar Publicação</button>
        </div>
        <div class="container-tabela">
            <table class="tabelaposts">
                <thead>
                    <tr>
                        <th class="th-left">Post ID</th>
                        <th>Data</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Interações</th>
                        <th class="th-right">Ações</th>
                    </tr>
                </thead>
                <tbody id="tabelapostsbody">
                </tbody>
            </table>
        </div>
        <div class="final-botoes">
            <button class="sem-mais-paginas">
                <img src="/public/assets/white-left-arrow.svg" alt="">
                Anterior
            </button>
            <button class="botao-atual">1</button>
            <button>2</button>
            <button>
                Próximo
                <img src="/public/assets/white-right-arrow.svg" alt="">
            </button>
        </div>

    </div>

    <!--Modal Visualização-->
    <form>
        <div class="lista-posts-modal lista-posts-visualizar" id="modalVisualizar">
            <h3>Informações do Post</h3>
            <div class="scroll">
                <div class="lista-posts-identificacao">
                    <img class="lista-posts-imagem" src="../../../public/assets/imgnormal.jpg" alt="Imagem do post">
                    <div class="lista-posts-informacoes">
                        <div class="lista-posts-id">
                            <h5>ID:</h5><input type="text" class="input" name="id" placeholder="ID" readonly>
                        </div>
                        <div class="lista-posts-autor">
                            <h5>Autor:</h5><input type="text" class="input" name="autor" placeholder="Autor" readonly>
                        </div>
                        <div class="lista-posts-data">
                            <h5>Criação:</h5><input type="text" class="input" name="data" placeholder="Data de criação" readonly>
                        </div>
                    </div>
                </div>
                <div class="lista-posts-conteudo">
                    <div class="lista-posts-titulo">
                        <h5>Título:</h5>
                        <input type="text" class="input titulo" placeholder="Título" name="titulo">
                    </div>
                    <div class="lista-posts-descricao">
                        <h5>Descrição:</h5>
                        <input type="text" class="input descricao" placeholder="Descrição" name="descricao">
                    </div>
                </div>
            </div>
            <div class="lista-posts-botoes">
                <button class="lista-posts-botao abrir-post">Abrir post</button>
                <button class="lista-posts-botao voltar">Fechar</button>
            </div>
        </div>
        </div>
    </form>

    <!--Modal Criação-->
    <form>
        <div class="lista-posts-modal lista-posts-visualizar" id="modalCriar">
            <h3>Criação de Post</h3>
            <div class="lista-posts-identificacao">
                <img class="lista-posts-imagem" src="../../../public/assets/imgnormal.jpg" alt="Imagem do post">
            </div>
            <div class="lista-posts-conteudo">
                <div class="lista-posts-titulo">
                    <h5>Título:</h5>
                    <input type="text" class="input titulo" placeholder="Título" name="titulo">
                </div>
                <div class="lista-posts-descricao">
                    <h5>Descrição:</h5>
                    <input type="text" class="input descricao" placeholder="Descrição" name="descricao">
                </div>
            </div>
                <div class="lista-posts-botoes">
                <button type="submit" class="lista-posts-botao criar-post">Criar post</button>
                <button class="lista-posts-botao voltar">Fechar</button>
                </div>
            </div>
        </div>
    </form>

    <!--Modal Edição-->
    <form>
        <div class="lista-posts-modal lista-posts-visualizar" id="modalEditar">
            <h3>Edição de Post</h3>
            <div class="lista-posts-identificacao">
                <img class="lista-posts-imagem" src="../../../public/assets/imgnormal.jpg" alt="Imagem do post">
            </div>
            <div class="lista-posts-conteudo">
                <div class="lista-posts-titulo">
                    <h5>Título:</h5>
                    <input type="text" class="input titulo" placeholder="Título" name="titulo">
                </div>
                <div class="lista-posts-descricao">
                    <h5>Descrição:</h5>
                    <input type="text" class="input descricao" placeholder="Descrição" name="descricao">
                </div>
            </div>
                <div class="lista-posts-botoes">
                    <button type="submit" class="lista-posts-botao salvar">Salvar</button>
                    <button class="lista-posts-botao voltar">Voltar</button>
                </div>
        </div>
    </form>

    <form>
        <div class="lista-posts-modal lista-posts-visualizar" id="modalExcluir">
            <h3>Excluir Post</h3>
            <img src="../../../public/assets/ratoeira.png" alt="Rato pegando um queijo de uma ratoeira">
            <h5>Tem certeza que deseja excluir este post?</h5>
            <div class="lista-posts-botoes">
                <button type="submit" class="lista-posts-botao excluir">Excluir</button>
                <button class="lista-posts-botao voltar" onclick="fecharModal('modalexcluir')">Cancelar</button>
            </div>
        </div>
    </form>
    <script src="/public/js/lista-posts.js"></script>
</body> 

</html>