<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Excluir</title>
    <link rel="stylesheet" href="/public/css/modal-excluir.css">
</head>
<body>
    <div class="caixadedeletar">
        <h1>Excluir Usuário</h1>
        <img src="../../../public/assets/Rato-biceps.png" alt="Logo">
        <h3>Tem certeza que deseja excluir este usuário?</h3>
        <div class="botoesmodaldelet">
            <button class="botaoexcluir">Excluir</button>
            <button class="botaocancelar">Cancelar</button>
        </div>
    </div>
</body>
</html>