<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Criar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://gstatic.com" crossorigin>
    <link href="https://googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/modal-criar-editar.css">
</head>

<body>
    <div class="painel">
        <h1>Criação de Usuário</h1>
        <form>
            <div class="formcampos">
                <label for="nome">Nome:</label>
                <input type="text" name="name" id="name">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
                <label for="senha">Senha:</label>
                <input type="text" name="senha" id="senha">
            </div>
            <div class="formbotoes">
                <input type="submit" value="Criar">
                <button>Fechar</button>
            </div>
        </form>
    </div>
</body>

</html>