<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastros de Fibra</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<body>
    <header>
    </header>
    <main>
        <div class="landingpage">
            <div class="hero">
                <div class="textoslanding">
                    <h1 class="maintitulo">Sua evolução<br>começa aqui.</h1>
                    <p class="maindesc">Registre seu caminho. <br>Viva o Rastros de Fibra. </p>
                    <div class="botaolermais">
                        <button class="lermais">Ler mais</button>
                    </div>
                </div>
            </div>
            <div class="carrossel-landing">
                
            </div>
        </div>
    </main>
</body>
</html>