<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="titulolistauser"> Lista de Usuários </div>
    <div class="segundadiv">
        <div class="barradepesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" class="pesquisarusuario" placeholder="Pesquisar..."></input>                         
        </div>    
        <button class="botaocriaruser">
            <h3 class="criarusuario"> Criar Usuário </h3>   
        </button>
    </div>
    <div class="containertebela">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Guilherme Perissé</td>
                    <td>perisse@email.com</td>
                    <td> 
                        <div class="iconestabela">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-trash-can"></i>
                        </div>    
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Guilherme Perissé</td>
                    <td>perisse@email.com</td>
                    <td> 
                        <div class="iconestabela">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-trash-can"></i>
                        </div>    
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Guilherme Perissé</td>
                    <td>perisse@email.com</td>
                    <td> 
                        <div class="iconestabela">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-trash-can"></i>
                        </div>    
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Guilherme Perissé</td>
                    <td>perisse@email.com</td>
                    <td> 
                        <div class="iconestabela">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-trash-can"></i>
                        </div>    
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Guilherme Perissé</td>
                    <td>perisse@email.com</td>
                    
                    <td> 
                        <div class="iconestabela">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-trash-can"></i>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="paginacao">
        <button class="botaoanterior">
        <i class="fa-solid fa-chevron-left"></i> Anterior
        </button>
        <div class="numeracaodaspag">
            <button class="numeropagina ativo">1</button>
            <button class="numeropagina">2</button>
            <button class="numeropagina">3</button>
        </div>
        <button class="botaoproximo">
            Próximo <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>



</body>
</html>