<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastros de Fibra</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<body>
    <header>
    </header>
    <main>
        <section id="hero">
            <h1 id="maintitulo">Sua evolução<br>começa aqui.</h1>
            <p id="maindesc">Registre seu caminho. <br>Viva o Rastros de Fibra. </p>
            <button id="lermais">Ler mais</button>
            </section>
    </main>
</body>
</html>