<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastros de Fibra</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<body>
    <header>
    </header>
    <main>
    <div class="hero">
        <div class="elipselanding"></div>
        <div class="textoslanding">
            <h1 class="maintitulo">Sua evolução<br>começa aqui.</h1>
            <p class="maindesc">Registre seu caminho. <br>Viva o Rastros de Fibra. </p>
            <div class="botaolermais">
                <button class="lermais">Ler mais</button>
            </div>
        </div>
        <div class="lado-direito-landing">
            <img class="moça" src="/public/assets/imgpng.png">
            <div class="linhalanding">
                <!--svg retirado do figma:-->
                <svg width="874" height="398" viewBox="0 0 874 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M872.109 381.759C878.823 384.753 881.838 392.623 878.844 399.337C875.849 406.05 867.979 409.066 861.266 406.071L7.8922 25.4702C1.17844 22.4759 -1.83672 14.606 1.15759 7.89225C4.1519 1.17848 12.0219 -1.83673 18.7356 1.15758L872.109 381.759Z" fill="url(#paint0_linear_582_39)"/>
                    <defs>
                        <linearGradient id="paint0_linear_582_39" x1="989.892" y1="122.115" x2="112.393" y2="-270.386" gradientUnits="userSpaceOnUse">
                            <stop offset="0.000100017" stop-color="#05AC4B" stop-opacity="0"/>
                            <stop offset="1" stop-color="#05AC4B"/>
                        </linearGradient>
                    </defs>
                </svg>
            <!--fim do svg-->
            </div>
            <div class="linhalanding2">
                <!--svg retirado do figma:-->
                <svg width="874" height="398" viewBox="0 0 874 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M872.109 381.759C878.823 384.753 881.838 392.623 878.844 399.337C875.849 406.05 867.979 409.066 861.266 406.071L7.8922 25.4702C1.17844 22.4759 -1.83672 14.606 1.15759 7.89225C4.1519 1.17848 12.0219 -1.83673 18.7356 1.15758L872.109 381.759Z" fill="url(#paint0_linear_582_39)"/>
                    <defs>
                        <linearGradient id="paint0_linear_582_39" x1="989.892" y1="122.115" x2="112.393" y2="-270.386" gradientUnits="userSpaceOnUse">
                            <stop offset="0.000100017" stop-color="#05AC4B" stop-opacity="0"/>
                            <stop offset="1" stop-color="#05AC4B"/>
                        </linearGradient>
                    </defs>
                </svg>
            <!--fim do svg-->

            </div>
        </div>
        <div class="elipselanding2"></div>
    </div>
    <div class="teste">

    </div>
    </main>
</body>
</html>