<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../../../public/css/modal.css">
    <!-- Link da fonte -->
    </head>
<body>
    <form>
    <div class="lista-posts-modal lista-posts-visualizar">
        <div class="lista-posts-identificacao">
            <img class="lista-posts-imagem" src="../../../public/assets/imgnormal.jpg" alt="Imagem do post">
            <div class="lista-posts-informacoes">
            <div class="lista-posts-id">
                <h5>id:</h5><input type="text" class="invisivel" name="id" disabled>
            </div>
            <div class="lista-posts-autor">
                <h5>autor:</h5><input type="text" class="invisivel" name="autor" disabled>
            </div>
            <div class="lista-posts-data">
                <h5>criação:</h5><input type="text" class="invisivel" name="data" disabled>
            </div>
            </div>  
        </div>
        <div class="lista-posts-conteudo">
            <div class="lista-posts-titulo">
                <h5>Título</h5>
                <input type="text" class="input titulo" placeholder="Título" name="titulo">
            </div>
            <div class="lista-posts-descricao">
                <h5>Descrição</h5>
                <input type="text" class="input descricao" placeholder="Descrição" name="descricao">
            </div>
            <div class="lista-posts-botoes">
            <button class="lista-posts-botao salvar" >Salvar</button>
            <button class="lista-posts-botao voltar" >Voltar</button>
            </div>
        </div>
    </div>
    </form>
</body>
</html>