<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../../../public/css/modal.css">
</head>
<body>
    <div class="lista-posts-modal lista-posts-visualizar">
        <form>

        <div class="identificacao">
            <img>
            <div class="lista-posts-id">
                <h5>id:</h5><input type="text" class="invisivel" name="id" disabled>
            </div>
            <div class="lista-posts-autor">
                <h5>autor:</h5><input type="text" class="invisivel" name="autor" disabled>
            </div>
            <div class="lista-posts-data">
                <h5>criação:</h5><input type="text" class="invisivel" name="data" disabled>
            </div>
        </div>
        <div class="lista-posts-conteudo">
        </div>
            <div class="lista-posts-titulo">
                <h5>Título:</h5>
                <input type="text" name="titulo" disabled>
            </div>
            <div class="lista-posts-descricao">
                <h5>Título:</h5>
                <input type="text" name="descricao" disabled>
            </div>
            <button class="lista-posts-botao salvar" >Salvar</button>
            <button class="lista-posts-botao voltar" >Voltar</button>
        </form>
    </div>
</body>
</html>